extends layout

block content
    div.container
        div.row
            div.col-lg-12
                div.jumbotron
                    img(src="img/up-arrow.png" class="arrow")
                    h2(style="margin-left: 85px") #{translation.no_access}