doctype
html(style="width:100%;height:100%;")
  head
      script(src='//vjs.zencdn.net/5-unsafe/video.js')
      link(href='//vjs.zencdn.net/5.4.6/video-js.min.css', rel='stylesheet')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      title Video
  body(style="width:100%;height:100%;margin:0")
      video.video-js.vjs-default-skin.vjs-big-play-centered(controls='', preload='auto', width="1920px", height="1080px", poster='#{background}', data-setup='{"autoplay": false}')
          source(src='http://localhost:3000/play/Guardians.of.the.Galaxy.2014.1080p.BluRay.x264.YIFY.mp4', type='video/mp4')
          track(src="/movie/#{subtitle}", label="English", kind="subtitles", srclang="#{language}")
          p.vjs-no-js
              | To view this video please enable JavaScript, and consider upgrading to a web browser that
              a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video