doctype
html
  head
    title Video
  body
      video(id='video', type="video/mp4" controls)
        source(src="http://localhost:3000/play/Guardians.of.the.Galaxy.2014.1080p.BluRay.x264.YIFY.mp4" type="video/mp4")
        //source(src="http://localhost:3000/play/Guardians.of.the.Galaxy.2014.1080p.BluRay.x264.YIFY.webm" type="video/webm")
        //source(src="http://localhost:3000/play/Guardians.of.the.Galaxy.2014.1080p.BluRay.x264.YIFY.ogg" type="video/ogg")
      //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
