if !login
    div#wrapper
        div(id="sidebar-wrapper" style="margin-top: 56px;display:none") )
            div.row
                img(class="img-circle" src="/images/fb.png" style="padding:37px")
                span.block.m-t-xs
                    strong.font-bold( id="user_infos" style="color:white;") User_name
            ul( class="sidebar-nav")
                li
                    a( href="#") Bibliotheque
            ul( class="sidebar-nav")
                li
                    a(onclick="$('#edit-form').show('fast');") Edit
            div.row
                div.col-lg-10
                    form
                        div(class="form-group" id="edit-form" style="display: none;")
                            input(type="text" class="form-control edit-form-control" id="edit_name" placeholder="Username" style="margin-right:15px;border-bottom-right-radius: 0;" )
                            input(type="text" class="form-control edit-form-control border-radius-0" id="edit_fname" placeholder="First name" style="margin-right:15px")
                            input(type="text" class="form-control edit-form-control border-radius-0" id="edit_lname" placeholder="Last name" style="margin-right:15px")
                            input(type="text" class="form-control edit-form-control border-radius-0" id="edit_email" placeholder="E-mail" style="margin-right:15px")
                            input(type="password" class="form-control edit-form-control border-radius-0" id="edit_pass" placeholder="Password" style="margin-right:15px")
                            input(type="password" class="form-control edit-form-control border-radius-0" id="edit_cpass" placeholder="Password confirmation" style="margin-right:15px;")
                            input(type="submit" class="btn btn-default edit-form-control"  id="con-edit" value="Modifier" style="width:100%;border-top-right-radius: 0;")
else
    div#wrapper
         div( id="sidebar-wrapper" style="margin-top: 56px;")
          div.row
            img(class="img-circle" src="/images/fb.png" style="padding:37px")
            span.block.m-t-xs
                strong.font-bold( id="user_infos" style="color:white;") User_name
          ul( class="sidebar-nav")
            li
             a( href="#") Bibliotheque
          ul( class="sidebar-nav")
            li
             a(onclick="$('#edit-form').show('fast');") Edit
          div.row
            div.col-lg-10
                      form
                          div(class="form-group" id="edit-form" style="display: none;")
                              input(type="text" class="form-control edit-form-control" id="edit_name" placeholder="Username" style="margin-right:15px;border-bottom-right-radius: 0;" )
                              input(type="text" class="form-control edit-form-control border-radius-0" id="edit_fname" placeholder="First name" style="margin-right:15px")
                              input(type="text" class="form-control edit-form-control border-radius-0" id="edit_lname" placeholder="Last name" style="margin-right:15px")
                              input(type="text" class="form-control edit-form-control border-radius-0" id="edit_email" placeholder="E-mail" style="margin-right:15px")
                              input(type="password" class="form-control edit-form-control border-radius-0" id="edit_pass" placeholder="Password" style="margin-right:15px")
                              input(type="password" class="form-control edit-form-control border-radius-0" id="edit_cpass" placeholder="Password confirmation" style="margin-right:15px;")
                              input(type="submit" class="btn btn-default edit-form-control"  id="con-edit" value="Modifier" style="width:100%;border-top-right-radius: 0;")
