html{
    height: 100%;
}

.border{
    border: 1px solid #333;
    border-radius:5px;
}

.auto_size{
    width:auto;
    height:auto;
}

.animation{
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 235px;
    left: 960px;
}

.iframe {
  height: 90%;
  width: 77%;
  position: absolute;
}

#pause{
    display:none;
}

#download_bar_text {
    color: black;
    font-weight: 500;
    position: absolute;
}

.vignette{
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#sign_up_form
{
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius : 5px;
}

#reset-pass-form
{
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius : 5px;
}

.big_vignette{
    background-color: #9cc9f9;
    padding:15px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height:auto;
}

.bouton {
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px;
}

.bouton:hover{
    background: #166cf9;
}

.profile{
    position: absolute;
    width: 80%;
    height: 400px;
    top: 50px;
    background-color: white;
    right: 33px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    overflow-y: auto;
}

.vision {
    position: absolute;
    padding: 0;
    top: 33%;
    left: 20%;
    font-size: 1em;
    font-weight: 700;
    color: #ffffff;
    height: 40%;
    width: 60%;
    background-color: #2f2f2f;
    opacity: 0.5;
    line-height: 50px;
    text-align: center;
}

@media (min-width: 320px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 31px;
        font-size: 25px;
        font-weight: 700;
        color: #ffffff;
        height: 150px;
        width: 99px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 150px;
        text-align: center;
    }
}

@media (min-width: 360px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 30px;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        height: 180px;
        width: 120px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 190px;
        text-align: center;
    }
}

@media (min-width: 375px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 30px;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        height: 190px;
        width: 128px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 190px;
        text-align: center;
    }
}

@media (min-width: 412px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 31px;
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;
        height: 220px;
        width: 146px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 220px;
        text-align: center;
    }
    .profile{
        position: absolute;
        width: 320px;
        height: 500px;
        top: 50px;
        background-color: white;
        right: 60px;
        border-radius: 10px;
        border: 1px solid #E4E4E4;
        overflow-y: auto;
    }
}

@media (min-width: 500px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 32px;
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;
        height: 312px;
        width: 209px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 220px;
        text-align: center;
    }
    .profile{
        position: absolute;
        width: 320px;
        height: auto;
        top: 50px;
        background-color: white;
        right: 60px;
        border-radius: 10px;
        border: 1px solid #E4E4E4;"
    }
}

@media (min-width: 600px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 22.5%;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        height: 315px;
        width: 210px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 315px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 83px;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        height: 315px;
        width: 210px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 315px;
        text-align: center;
    }
}

@media (min-width: 996px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 57px;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        height: 315px;
        width: 210px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 315px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 41px;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        height: 315px;
        width: 210px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 315px;
        text-align: center;
    }
}

@media (min-width: 2000px) {
    .vision {
        position: absolute;
        padding: 0;
        top: 105px;
        left: 139px;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        height: 315px;
        width: 210px;
        background-color: #2f2f2f;
        opacity: 0.5;
        line-height: 315px;
        text-align: center;
    }
}

.arrow{
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    float: left;
}

#autocompletion {
    width:95%;
    padding:0;
    display: none;
    max-height: 380px;
    position: absolute;
    top: 50px;
    border: 1px solid #E4E4E4;
    z-index: 5;
    border-radius: 5px;
    background-color: #f3f3f3;
    overflow-x: auto;
}

.result_autocompletion{
    height:190px;
    padding:15px;
    background-color: #ccc;
    border-bottom: 1px solid #999;
}

.result_autocompletion:hover{
    background-color: #aaa;
    cursor:pointer;
}


.img_autocompletion{
    float:left;
    padding-right:15px;
}

.text_result_autocompletion{

}

.edit-form-control{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.border-radius-0
{
    border-radius: 0;
}

.form_stack{
    margin-top:15px;
}

input[type='submit']{
    width:100%;
}

#mavideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

#mavideo > video{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

video {
    background-color: black;
    background-image: url('/movie/home.mp4');
    background-position: center center;
    background-size: contain;
}

a:hover{
    cursor:pointer;
}

.container{
    padding-top: 100px;
    background-color : bisque;
}

.comm{
    /*width: 437px;*/
    width: 140%;
    background-color: white;
    /* text-align: left; */
    /* text-rendering: auto; */
    padding: 12px;
    margin-bottom: 19px;
    /* border: 2px solid #b8b8b8; */
    /*border-radius: 5px;*/
    /*overflow: auto;*/
    word-wrap: break-word;
    /*box-shadow: 2px 1px 18px grey;*/

}
.comm-container{
    padding-top: 28px;
    width: 26%;
    margin: auto;
}

.comms{
    background-color: bisque;
}

input[type="file"]:hover{
    cursor:pointer;
}

@media (min-width: 2000px){
    .container {
        width: 1950px;
    }
}

.profil-views{
    width: 100%;
    height: 140px;
    cursor: pointer;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: .25rem;
    background-clip: padding-box;
    margin: 0;

}

.infos{
    margin-left: 18%;
    padding-top: 2%;
}

input:focus {
    outline:none;
}

input[type="checkbox"] {
    width:auto;
}

body{
    height:100%;
    background-color: bisque;
}

#signup_erreur{
    display:none;
    margin-bottom:0;
    z-index:21;
    position:fixed;
    width:100%;
}

.videoplayer {
    width: 100%;
}

.class{
    display: none;
}

.vjs_video_3-dimensions {
    width: 100% !important;
    height: 100% !important;
}

.stream {
    display:none;
}
