.border{
    border: 1px solid #333;
    border-radius:5px;
}

.auto_size{
    width:auto;
    height:auto;
}

.animation{
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 235px;
    left: 960px;
}

#pause{
    display:none;
}

#download_bar_text {
    color: black;
    font-weight: 500;
    position: absolute;
}

.vignette{
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#sign_up_form
{
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius : 5px;
}

#reset-pass-form
{
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius : 5px;
}

.big_vignette{
    background-color: #9cc9f9;
    padding:15px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height:auto;
}

.bouton {
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px;
}

.bouton:hover{
    background: #166cf9;
}

.vision{
    position: absolute;
    padding: 0;
    top: 129px;
    left: 38px;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    height: 315px;
    width: 210px;
    background-color: #2f2f2f;
    opacity: 0.5;
    line-height: 315px;
    text-align: center;
}

.arrow{
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    float: left;
}

#autocompletion {
    width:95%;
    padding:0;
    display: none;
    max-height: 380px;
    position: absolute;
    top: 50px;
    border: 1px solid #E4E4E4;
    z-index: 5;
    border-radius: 5px;
    background-color: #f3f3f3;
    overflow-x: auto;
}

.result_autocompletion{
    height:190px;
    padding:15px;
    background-color: #ccc;
    border-bottom: 1px solid #999;
}

.result_autocompletion:hover{
    background-color: #aaa;
    cursor:pointer;
}


.img_autocompletion{
    float:left;
    padding-right:15px;
}

.text_result_autocompletion{

}

.form_stack{
    margin-top:15px;
}

input[type='submit']{
    width:100%;
}